.process-featured-title{
    margin-top: 5rem;
}

.process-featured-subtitle{
    padding: 42px 52px 0;
}

.process-featured-subtitle2{
    padding: 26px 52px 0;
    font-size: 28px;
}

.process-featured-text{
    padding: 20px 52px 0;
    font-size: 16px;
}