* {
    box-sizing: border-box;
}

/* Span */
span {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    transition: 0.3s;
}


.header-body {
    display: grid;
    grid-template-columns: 1fr 1fr 3em;
    justify-content: center;
    align-content: center;
}

.header-body > div {
  margin: 0 var(--spacing);   
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider {
    position: relative;
}

.decoration-left, .decoration-right {
    background-color: var(--accent);
    position: absolute;
    z-index: 1;
}

.decoration-left {
    top: 50%;
    left: -8%;
    width: 16%;
    height: 70%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    color:#fff;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide1;
}

.decoration-right {
    bottom: 0;
    right: -8%;
    width: 16%;
    height: 12em;
    animation: slide2;
}

.overlay {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: slide3;
    z-index: 0;
}

.anim{
   animation-duration: 0.8s;
   animation-timing-function: cubic-bezier(0.39, 0.08, 0.93, 0.42); 
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text > div{
    max-width: 27em;
}

.text p{
    background-image: linear-gradient(0deg, var(--accent), var(--accent));
    background-repeat: no-repeat;
    background-size: 3px 100%;
    padding-left: var(--spacing);
    background-position: 0 0; 
}

/* responsive */
@media screen and (max-width: 1000px) {

}

@media screen and (max-width:850px) {
    header{
        height: initial;
    }

    .header-body {
        grid-template-columns: 1fr;
    }

    .header-body > div:not(.slider){
        margin: var(--spacing) 0;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }

    .decoration-left {
        display: none;
    }
    
    .decoration-right {
        display: none;
    }
}

@media  screen and (max-height: 430px) {
    header .menu-open{
        height: 600px;
    }
}