@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root{
    --accent:#894B5D;
    --spacing:2.5em;
}

body {
    margin: 0;
    font-family: Roboto;
}

* {
    box-sizing: border-box;
}

/* Navbar */
nav {
    background-color: white;
}

div.nav2 > ul {
    background-color: #85A094;
}

.nav-item {
    font-size: 20px;
}

/* Botones */
button.registra {
    color: white;
    background-color: #85A094;
    font-weight: bold;
    width: 120px;
}

button.registra:hover {
    color: white;
    background-color: #60746b;
    font-weight: bold;
    width: 120px;
}

button.inicia {
    color: #85A094;
    border: solid 1px #85A094;
    font-weight: bold;
    width: 120px;
}

button.inicia:hover {
    color: white;
    background-color: #85A094;
    font-weight: bold;
    width: 120px;
}

/* Barra de Búsqueda */
input.form-control {
    width: 600px;
    /* box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.4) inset; */
}

/* input.form-control:focus {
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.4) inset;
} */

button.buscar {
    position: relative;
    left: -10px;
    color: black;
    background-color: #D6D6D6;
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.1) inset;
}

button.buscar:hover {
    color: black;
    background-color: #b6b6b6;
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.1) inset;
}

/* Footer */
footer {
    left: 0;
    right: 0;
    bottom: 0;
    background: #E3E3E3;
    width: 100%;
    color: #252525;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: .5rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    color: #252525;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
}

.socials li {
    margin: 5px 2rem -1.5rem;
}

.socials a {
    text-decoration: none;
    color: rgba(37, 37, 37, 0.85);
}

.socials a i {
    font-size: 35px;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #252525;
}

.footer-bottom {
    background: #85A094;
    text-align: center;
}

.footer-bottom p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 1rem 5rem;
}

footer p > a {
    color: #252525;
    font-size: 16px;
    text-decoration: none;
}

footer p > a:hover {
    color: #252525;
    font-size: 16px;
    text-decoration: underline;
}

.footer-bottom span {
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
}

/* Animaciones*/
@keyframes slide1 {
    0%{
        height: 0;
    }
    100%{
        height: 70%;
    }
}

@keyframes slide2 {
    0%{
        height: 0;
    }
    100%{
        height: 12em;
    }
}

@keyframes slide3 {
    0%{
        height: 100%;
    }
    100%{
        height: 0;
    }
}

/* responsive */
@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width:850px) {
    header {
        height: initial;
    }

    .header-body {
        grid-template-columns: 1fr;
    }

    .header-body > div:not(.slider) {
        margin: var(--spacing) 0;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }

    .decoration-left {
        display: none;
    }
    
    .decoration-right {
        display: none;
    }

    input.form-control {
        width: 400px;
    }
}

@media  screen and (max-width: 430px) {
    input.form-control {
        width: 300px;
    }
}


.timeline{
    position: relative;
    max-width: 900px;
    margin: 100px auto;
}

.c{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.text-box{
    padding:20px 30px;
    background: #b97b35;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.circulo {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    background-color: #b97b35;
}

.circulo > p {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.c:nth-child(2){
    animation-delay: 0s;
}

.c:nth-child(3){
    animation-delay: 0.8s;
}
.c:nth-child(4){
    animation-delay: 1.5s;
}

.right-container .circulo{
    left: -20px;
}

.text-box h2{
    font-weight: 600;
}

.text-box small{
   display: inline-block;
   margin-bottom: 15px;
   margin-top: 10px;
}

.left-container-arrow{
    height: 6px;
    width: 50px;
    position: absolute;
    top:35px;
    z-index: 1;
    background-color: #b97b35;
    /*border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 16px solid #fff;*/
    left: -32px;
}

.right-container-arrow{
    height: 6px;
    width: 50px;
    position: absolute;
    top:35px;
    z-index: 1;
    background-color: #b97b35;
    
    right: -32px;
}

.vertical-line {
    border-left: 5px solid #b97b35;
    height: 100%;
    left: 50%;
    position: absolute;
    animation: a 4s linear forwards;

}

@keyframes animate {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
}

.card-section{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #894B5D;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.section-title{
    color: #ffff;
    margin-top: 7%;
    margin-left: 5%;

}