@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.timeline{
    position: relative;
    max-width: 950px;
    margin: 100px auto;
}

.c{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.t{
    padding:20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.circulo {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 30px;
    z-index: 10;
    background-color: #b97b35;
}

.circulo > p {
    margin: 0;
    bottom: 2px;
    height: 40px;
    width: 40px;
    font-size: 28px;
    position: absolute;
    text-align: center;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.c:nth-child(2){
    animation-delay: 0s;
}

.c:nth-child(3){
    animation-delay: 1.2s;
}
.c:nth-child(4){
    animation-delay: 2.1s;
}

.right-container .circulo{
    left: -20px;
}

.t small{
   display: inline-block;
   margin-bottom: 15px;
   margin-top: 10px;
}

.left-container-arrow{
    height: 6px;
    width: 50px;
    position: absolute;
    top:35px;
    z-index: 1;
    left: -32px;
}

.right-container-arrow{
    height: 6px;
    width: 50px;
    position: absolute;
    top:35px;
    z-index: 1;
    right: -32px;
}

.cir1 {
    z-index: 10;
    background-color: #EAD9D8;
}

.cir2 {
    
    z-index: 10;
    background-color: #EAD9D8;
}

.cir3 {
    z-index: 10;
    background-color: white;
    outline: 3px solid #E3C1BE;
    outline-offset: -3px;
}



.c1 {
    font-weight: normal;
    background: #EAD9D8;
}

.c1 h2 {
    font-weight: normal;
}

.c2 {
    
    background: #EAD9D8;
    
}

.c3 h2 {
    font-weight: normal;
}

.c3 {
    font-weight: normal;
    background: white;
    outline: 3px solid #E3C1BE;
    outline-offset: -3px;
}

.arrow1 {
    background-color: #EAD9D8;
    z-index: -1000;
}

.arrow2 {
    background-color: #EAD9D8;
    z-index: -1000;
}

.arrow3 {
    background-color: #E3C1BE;
    z-index: -1000;
}

@media screen and (max-width: 768px) {
    .timeline{
        margin: 60px auto;
    }

    .timeline::after{
        left: 31px;
    }
    .c{
        width: 100%;
        padding-left:80px;
        padding-right: 25px; 
    }
    .t{
        font-size:13px;
    }
    .t small{
        margin-bottom: 10px;
    }
    .right-container{
        left:0;
    }
    .left-container .circulo, .right-container .circulo{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right:15px solid;
        border-left: 0;
        left: -35px;
    }

    div.vertical-line {
        border-left: 5px solid #894B5D;
        left: 28px;
        height: 100px;
        position: absolute;
        animation: a 4s linear forwards;
    }
}

.vertical-line {
    border-left: 5px solid #894B5D;
    top: 35px;
    height: 100%;
    left: 49.80%;
    position: absolute;
    animation: a 2s linear forwards;
}

@keyframes a {
    0%{
        height: 0px;
    }
    100%{
        height: 500px;
    }
}
  
  
@keyframes animate {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
    }
