@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.vertical-line {
    border-left: 5px solid #894B5D;
    height: 30%;
    left: 10%;
    top: 5%;
    position: absolute;

}

.vertical-line2 {
    border-left: 5px solid #D6D6D6;
    height: 52%;
    left: 10%;
    top: 35%;
    position: absolute;

}

.vertical-line3 {
    border-left: 5px solid #894B5D;
    height: 45%;
    left: 10%;
    top: 10%;
    position: absolute;

}

.vertical-line4 {
    border-left: 5px solid #D6D6D6;
    height: 40%;
    left: 10%;
    top: 45%;
    position: absolute;

}

.vertical-line5 {
    border-left: 5px solid #894B5D;
    height: 20%;
    left: 10%;
    top: 10%;
    position: absolute;

}

.vertical-line6 {
    border-left: 5px solid #D6D6D6;
    height: 60%;
    left: 10%;
    top: 30%;
    position: absolute;

}

.timeline{
    position: relative;
    max-width: 950px;
    margin: 50px auto;
}

.c{
    padding: 10px 50px;
    position: relative;
    width: 85%;

    opacity: 0;
}

.t{
    /*padding:20px 30px;*/
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.right-container{
    left: 10%;
}

.circulo {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 30px;
    z-index: 10;
    background-color: #b97b35;
}

.circulo > p {
    margin: 0;
    bottom: 2px;
    height: 40px;
    width: 40px;
    font-size: 28px;
    position: absolute;
    text-align: center;
}

.right-container .circulo{
    left: -20px;
}

.t small{
   display: inline-block;
   margin-top: 10px;
}

.active{
    z-index: 10;
    background-color: #894B5D;
}

.down{
    z-index: 10;
    background-color: #B5B5B5;
}


.innerc{
    background-color: #EAD9D8;
    width: 100%;
    height: 30%; 
    padding: 0px 30px 1.5%;
}

.innerActive{
    background-color: #894B5D;
    width: 100%;
    color: white;
    height: 30%; 
    padding: 0px 30px 1.5%;
}

.innerDown{
    background-color: #B5B5B5;
    width: 100%;
    height: 30%; 
    padding: 0px 30px 1.5%;
}

.paddingc{
    padding:20px 30px;
}

.paddingc2{
    padding:10px auto;
}

@media screen and (max-width: 768px) {
    .timeline{
        margin: 60px auto;
    }


    .c{
        width: 100%;
        padding-left:80px;
        padding-right: 25px; 
    }
    .t{
        font-size:13px;
    }
    .t small{
        margin-bottom: 10px;
    }
    .right-container{
        left:0;
    }
    .left-container .circulo, .right-container .circulo{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right:15px solid;
        border-left: 0;
        left: -35px;
    }

    .vertical-line, .vertical-line2, .vertical-line3, .vertical-line4, .vertical-line5, .vertical-line6 {
        left: 28px;
        position: absolute;
    }
}